.banner {
    background-image: url('https://i.ibb.co/DrCnVn9/pexels-photo-338504.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.content {
    z-index: 2;
    position: relative;
}




